@CHARSET "UTF-8";
body {margin: 0; background-color: #012B39;}
* {font-family: Consolas, monaco, monospace;}
#left {position: relative;float: left;margin: 0px;top: 20px;left: 0px; width:400px;padding:10px}
#main {float: left;position: relative;top:0px;left:0px;width:1000px;padding-bottom: 60px;hieght:720px;}
#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}
#header {
	float: right;
	font-size: 1.2em;
	margin-top: 10px;
}
#header a {
	margin-right: 20px;
}
#page {
	position: relative;
	margin-top: 40px;
	margin-left: 240px;
}
#page h5 {
	margin-left: 15px;
	float: left;
}
#table-name h5 {
	margin-left: 5px;
	float: left;
}
#table {
	position: relative;
	top: -20px;
}
#main a {
	text-decoration: none;
}
#cmdBox {
        width: 500px;
        height: 400px;
}
#console-box {
	 position: absolute;
	 margin-top: 270px;
     width: 100%;
     height: 240px;
     font-size: 18px;
}
#editor {
        position: absolute;
		margin-top: 30px;
        width: 100%;
        height: 240px;
        font-size: 18px;
    }
#table-btn-execute {
	width: 60px;
	position: relative;
	top: -20px;
	left: 20px;
}
.schema-new-btn {
	height: 24px; 
	width: 100%;
	border: none;
	font-weight: normal;
	line-height: 1.4;
	border-radius: 4px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
	color: #ffffff;
	background-color: #99CC00;
	cursor: pointer;
}
.table-new-btn {
	width: 100%;
	height: 24px;
	border: none;
	font-weight: normal;
	border-radius: 4px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
	color: #ffffff;
	background-color: #FF9933;
	cursor: pointer;
}
.table-btn-add {
	width: 80px;
	height: 20px;
	border: none;
	font-weight: normal;
	line-height: 1.4;
	border-radius: 4px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
	color: #ffffff;
	background-color: #1abc9c;
}
.column-btn-remove {
	width: 60px;
	height: 20px;
	border: none;
	font-weight: normal;
	line-height: 1.4;
	border-radius: 4px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
	color: #ffffff;
	background-color: #FF3300;
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
	position: relative;
	z-index: 2;
	cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
	position: absolute;
	top: 150%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -80px;
	padding: 7px;
	width: 160px;
	-webkit-border-radius: 3px;
	-moz-border-radius:    3px;
	border-radius:         3px;
	background-color: #000;
	background-color: hsla(0, 0%, 20%, 0.9);
	color: #fff;
	content: attr(data-tooltip);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
	position: absolute;
	top: 150%;
	left: 50%;
	margin-left: -5px;
	width: 0;
 	border-top: 5px solid #000;
	border-top: 5px solid hsla(0, 0%, 20%, 0.9);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}
.schema-config-btn {
	width: 46px;
	height: 20px;
	border: none;
	font-weight: normal;
	font-size: 0.8em;
	padding: 2px;
	border-radius: 8px;
	float: right; 
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
	color: #ffffff;
	background-color: grey;
}
.table-btn {
	width: 50px;
	height: 20px;
	border: none;
	font-weight: normal;
	line-height: 1.4;
	border-radius: 4px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
	color: #ffffff;
	background-color: #1abc9c;
}
.table-text {
	width: 80px;
	height: 20px;
}
.menu-arbol ul {
	opacity: 0.5;
	height: 1px;
	margin-top: 0.5rem;
	overflow: hidden;
}

.mostrar-menu:checked ~ ul {
	opacity: 1;
	height: auto;
} 


.autor {
	margin-top: -1rem;
	padding: 0;
	font-weight: 100;
	font-size: 0.8rem;
}

.autor span {
	color: white
}

html,body {
	font-size: 16px;
	background-color: #012B39;
	color: Yellowgreen;
}

h1 {
	text-align: center;
	font-size: 2.5rem;
}

h2 {
	text-align: center;
	font-size: 1.8rem;
}

h2.g3k {
	padding: 0.3rem;
	margin: 0;
	font-weight: 400;
}

h3 {
	text-align: center;
	margin: 0;
	padding: 0;
}

a,a:link,a:visited {
	color: white
}

.link,.link:link,.link:visited {
	color: white;
	display: block;
	margin: 0 auto;
	text-align: center;
}

b {
	font-weight: 400;
}

ul {
	padding: 0 0 0 0.5rem;
}

li {
	list-style: none;
	padding: 0.5rem;
	padding-bottom: 0;
}

.nivel-04>li {
	padding-bottom: .5rem;
}

nav {
	margin: 0 auto;
	width: 400px;
}

.menu-arbol,.menu-arbol a,.menu-arbol a:link {
	color: whitesmoke;
	text-decoration: none;
}

.menu-arbol {
	background-color: #012B39;
	max-width: 280px;
	border-radius: 0.2rem;
	margin: 0 auto;
}

.nivel-00 {
	background-color: #19364E;
}

.nivel-01 {
	background-color: #19364E;
}

.nivel-02 {
	background-color: #293F4F;
}

.nivel-03 a,.nivel-03 a:link {
	color: LightSeaGreen;
}

.mostrar-menu {
	display: none;
}

.menu-arbol .ampliar:after {
	content: '+ ';
	display: inline-block;
	font-weight: light;
	border: rgba(255, 255, 255, .5) solid 1px;
	border-radius: 3px;
	padding: 0 0.5rem;
	margin-right: 1rem;
}

.nivel-03 .ampliar:after {
	color: teal;
}

.menu-arbol .mostrar-menu:checked ~ .ampliar:after {
	content: '-';
}

.parrafo {
	color: springgreen;
	text-align: center;
}


.contenedor {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
}

/* table */
*,*:before,*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

table {
	background: #012B39;
	border-radius: 0.25em;
	border-collapse: collapse;
	table-layout: fixed;
	word-wrap: break-word;
	margin: 1em;
}

th {
	border-bottom: 1px solid #364043;
	color: #E2B842;
	font-size: 0.85em;
	font-weight: 600;
	padding: 0.5em 1em;
	text-align: left;
}

td {
	color: #fff;
	font-weight: 400;
	padding: 0.2em 0.5em;
	height: 20px;
	width: 50px;
	cursor: pointer;
}

.disabled td {
	color: #4F5F64;
}

tbody tr {
	transition: background 0.25s ease;
}