/*======================
SOLO ESTO HACE LA MAGIA
========================*/

.menu-arbol ul
{
  opacity:0.5;
  height: 1px;
  overflow: hidden;
  margin-top: 0.5rem;
}

.menu-arbol .mostrar-menu:checked ~ ul
{  
  opacity:1;
  height: auto;
  overflow: hidden;
}

/*=================
LO DEMÃS ES ADORNO
===================*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,800);

*
{
  box-sizing: border-box;
  font-family: 'Open Sans', trebuchet, sans-serif;
	font-weight: 300;
  transition: all easy 5s;
  -webkit-transition: all ease .2s;
}

.autor
{
  margin-top: -1rem;
  padding:0;
  font-weight: 100;
  font-size: 0.8rem;
}

.autor span {color:white}

html, body
{
  font-size: 16px;
  background-color: #00353D;
  color: Yellowgreen;
}
h1
{
  text-align: center;
  font-size:2.5rem;
}
h2
{
  text-align: center;
  font-size: 1.8rem;
}


h2.g3k
{
  padding: 0.3rem;
  margin: 0;
  font-weight: 400;
}

h3
{
  text-align: center;
  margin: 0;
  padding: 0;
}

a, a:link, a:visited {color: white}

.link, .link:link, .link:visited
{
  color: white;
  display: block;
  margin: 0 auto;
  text-align: center;
}

b{font-weight: 400;}

ul
{
  padding: 0 0 0 0.5rem;
}

li
{
  list-style: none;
  padding:0.5rem;
  padding-bottom: 0;
}

.nivel-04>li
{
  padding-bottom:.5rem;
}

nav
{
  margin: 0 auto;
  width: 400px;
}

.menu-arbol,
.menu-arbol a,
.menu-arbol a:link
{
  color: whitesmoke;
  text-decoration: none;
}

.menu-arbol
{
  background-color: teal;
  max-width: 200px;
  border-radius: 0.2rem;
  margin: 0 auto;
}

.nivel-00
{
 background-color: teal;
}

.nivel-01
{
  background-color: darkcyan;
}

.nivel-02
{
  background-color: LightSeaGreen;
}

.nivel-03
{
  background-color: Turquoise;
}

.nivel-04
{
  background-color: Aquamarine;
}

.nivel-03 a,
.nivel-03 a:link
{
  color: LightSeaGreen;
}

.mostrar-menu
{
  display: none;
}

.menu-arbol .ampliar:after
{
  content:'+ ';
  display: inline-block;
  font-weight: light;
  border: rgba(255,255,255,.5) solid 1px;
  border-radius: 3px;
  padding: 0 0.5rem;
  margin-right: 1rem;
}

.nivel-03 .ampliar:after
{
  color: teal;
}

.menu-arbol .mostrar-menu:checked ~ .ampliar:after
{
  content:'-';
}

.parrafo
{
  color: springgreen;
  text-align: center;
}

pre
{
  font-family:'courier new',sans-serif;
  color: whitesmoke;
  font-size: 1.2rem;
  width: 80%;
  text-align: center;
  background-color: rgba(0,255,255,.2);
  padding: 0.5rem;
  margin: 0 auto;
}

.contenedor
{
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}