@CHARSET "UTF-8";
#reg {font-size: 15px;color: white;position: relative;left: 30px;}
#login_card {position:relative; left: 20px; top: 120px; background-color:white;height:360px;padding:10px;-moz-border-radius: 5px;-khtml-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 20px;border:0px;}
#loginform {position: relative;top: 20px;left: 150px;height: 60px;width: 500px;}
#login {position: relative;top: 20px;font-size: 45px;}
#row {margin: 5px;width: 300px;padding: 8px;}
#text {align: center;height: 20px;width: 60px;float: left;font-size: 30px;margin:5px;}
#id {position: relative;top: 10px;height: 12px;}
#psw {position: relative;top: 10px;height: 12px;}
#log {position: relative;padding: 1px;height: 30px;width: 80px;top: 40px;left: 145px;margin: 10;}
