@CHARSET "UTF-8";
body {margin: 0; overflow-x: hidden; background-color: #00353D;}
#Header {position: fixed;top:0px;background-color: #808080;padding: 1px;heigth: 10px;width:100%;z-index:99999;}
#secondHeader{position: relative;top:30px;background-color: #EEEEEE;padding: 1px;width:100%;height:60px;}
#homepage {font-size: 15px;color: white;text-decoration: none;heigth: 10px;}
#left {position: relative;float: left;margin: 5px;top: 20px;left: 10px; width:400px;padding:20px}
#main {float: left;position: relative;top:40px;left:0px;width: 960px;padding-bottom: 60px;hieght:720px;}
#right{position: relative;top: 60px;left: 600px;width: 400px;}
#Footer {height: 50px;}